:root {
    --main-color: #0F748F;
    --main-color-second: #19C8FA;
    --transparent-background: rgb(15 116 143 / 70%);
    --padding-top: 60px;
    --padding-bottom: 60px;
}

/* Start Global Rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;

}

/*  Small */
@media(min-width : 768px) {
    .container {
        width: 750px;
    }
}

/*  Medium */
@media(min-width : 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media(min-width : 1200px) {
    .container {
        width: 1170px;
    }
}


/* End Global Rules */

/* Start Components */



.main-heading {
    text-align: center;
    margin-top: 80px;
}

.main-heading h2 {
    position: relative;
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: normal;

}

.main-heading h2::before {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #333;
    left: 50%;
    transform: translateX(-45%);
    width: 120px;
    bottom: -30px;

}

.main-heading h2::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid #333;
    border-radius: 50%;
    left: 50%;
    /* transform: translateY(-100%); */
    bottom: -35px;
    background-color: #FFF;
}

.main-heading p {
    margin: 60px auto;
    color: #777;
    width: 550px;
    line-height: 2;


}

/* End Components */

/* Start Header */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;

}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .container::after {
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    background-color: #fff;
    top: 100%;
    left: 30px;
    right: 30px;

}

header .container nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

header .container nav .toggle-menu {
    color: #fff;
    font-size: 22px;
}

@media(min-width : 768px) {
    header .container nav .toggle-menu {
        display: none;
    }
}


header .container nav ul {
    display: flex;
    justify-content: space-between;


}

@media(max-width : 768px) {
    header .container nav ul {
        display: none;
    }

    header .container nav .toggle-menu:hover+ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        top: 100%;
        left: 0;
        background-color: rgb(0 0 0 /50%);
        position: absolute;

    }

    header .container nav .toggle-menu:hover+ul li a {
        padding: 15px;
    }
}

header .container nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 40px 20px;
    transition: 0.3s;
    position: relative;
}

header .container nav ul li a.active,
header .container nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);

}

header .container nav .form {
    font-size: 22px;
    color: #fff;
    position: relative;
    width: 50px;
    height: 40px;
    margin-left: 30px;
    border-left: 1px solid #FFF;

}

header .container nav .form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

header .container .logo img {
    height: 40px;
}

/* End Header */



/* Start Landing */
.landing {
    background-image: url('../images/landing.jpg');
    min-height: 100vh;
    background-size: cover;
    position: relative;

}

.landing .ovelay {
    position: absolute;
    background-color: rgb(0 0 0 / 50%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.landing .text {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    background-color: var(--transparent-background);
    top: 50%;
    transform: translateY(-50%);
    padding: 50px 0;
    max-width: 60%;


}

.landing .text .content {

    max-width: 50%;
}

.landing .text .content h2 {
    color: #FFF;
    font-size: 32px;
    font-weight: 100;
    line-height: 1.6;
    margin-bottom: 20px;
}

.landing .text .content p {
    color: #FFF;
    font-size: 14px;
    font-weight: 100;
    line-height: 1.6;
}

.landing .change-background {
    position: absolute;
    top: 50%;
    color: #FFF;
    font-size: 35px;
}

.landing .fa-angle-left {
    left: 0;
}

.landing .fa-angle-right {
    right: 0;
}

.landing .bullets {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 90%;
    left: 50%;
}

.landing .bullets li {

    width: 20px;
    height: 20px;

    margin-left: 10px;
    border: 1px solid white;
    border-radius: 50%;

}

.landing .bullets li.active {
    background-color: var(--main-color);
}


/* End Landing */
/* Start Services */
.services {
    padding-top: 60px;
    padding-bottom: 60px;
}

.services .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-column-gap: 60px;
    grid-row-gap: 50px;
}

.services .services-container .box-srv {
    display: flex;
    justify-content: space-between;

}

.services .services-container .box-srv i {
    margin-right: 80px;
    font-size: 40px;
}

@media (max-width : 767px) {
    .services .services-container .box-srv {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }

    .services .services-container .box-srv i {
        margin: 0 0 30px
    }
}



.services .services-container .box-srv .text {}

.services .services-container .box-srv .text h3 {
    color: #4ED2FA;
    margin-bottom: 20px;

}

.services .services-container .box-srv .text p {
    color: #888;
    line-height: 1.8;
}

/* End Services */

/* Start Design */
.design {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    position: relative;
    display: flex;
    height: 600px;
    background-image: url('../images/design.jpg');
    background-size: cover;
    align-items: center;
    overflow: hidden;

}

.design::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);

}

.design .image img {
    position: relative;
    margin-bottom: -300px;
}

.design .image,
.design .text {
    position: relative;
    flex: 1;
    z-index: 2;
}

@media (max-width : 767px) {
    .design .image {
        display: none;
    }
}

.design .text {
    padding: 15px;
    color: white;
    background-color: var(--transparent-background);
}

.design .text h2 {
    margin: 60px 20px;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
}

.design .text ul li {
    margin: 40px;
    font-weight: 300;
    position: relative;
}

.design .text ul li::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f015';
    position: absolute;
    left: -20px;
}

/* End Design */

/* Start Portfolio */
.portfolio {}

.portfolio .shuffle {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.portfolio .shuffle li {
    padding: 10px 25px;

}

.portfolio .shuffle li.active {
    background-color: var(--main-color-second);
    color: white;
}

.portfolio .container-box {
    display: flex;
    flex-wrap: wrap;
}

.portfolio .container-box .box {
    flex-basis: 25%;
    position: relative;
    overflow: hidden;

}

@media (max-width : 992px) {
    .portfolio .container-box .box {
        flex-basis: 50%;

    }
}

@media (max-width : 767px) {
    .portfolio .container-box .box {
        flex-basis: 100%;

    }
}

.portfolio .container-box .box img {
    max-width: 100%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}


.portfolio .container-box .box:hover img {
    transform: scale(1, 1);

}


.portfolio .container-box .box .caption {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -100px;
    background-color: white;
    padding: 25px;
    font-weight: normal;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.portfolio .container-box .box:hover .caption {
    bottom: 0;
}

.portfolio .container-box .box .caption h4 {
    color: #777;
}

.portfolio .container-box .box .caption p {
    color: var(--main-color-second);
    font-size: 12px;
}

.portfolio .more {
    background-color: var(--main-color-second);
    color: white;
    display: block;
    margin: 30px auto;
    width: fit-content;
    padding: 10px 25px;
    text-decoration: none;
}

/* End Portfolio */
/* Start Video */
.video {
    position: relative;

}

.video::after {
    position: absolute;
    content: "";
    background-color: var(--transparent-background);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    height: 100%;
}

.video video {

    width: 100%;
    height: 100%;
}

.video .text {
    position: absolute;
    top: 50%;
    background-color: var(--main-color-second);
    transform: translateY(-50%);
    width: 100%;
    padding: 30px;
    text-align: center;

}

.video .text h2 {
    color: white;
}

.video .text p {}

.video .text button {}

/* End Video */